extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Nueva Bicicleta

  br
  br

  form(action='' method='')
    label(for='code') Código:
    input#id(type='text' name='code' value=bici.code)
    br
    label(for='color') Color:
    input#color(type='text' name='color' value=bici.color)
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo' value=bici.modelo)
    br
    label(for='lat') Latitud:
    input#lat(type='text' name='lat' value=bici.ubicacion[0])
    br
    label(for='lng') Longitud:
    input#lng(type='text' name='lng' value=bici.ubicacion[1])
